---
import { t } from 'i18next';
import Project from './Project.astro'
import { getProjects } from '../services/projects'

const projects = getProjects()
---

<section id="projects" class="flex flex-col justify-center items-center gap-12 min-h-screen">
    <div class="flex flex-col text-center w-full">
        <p class="text-sm text-gray-600">{t('projects.browse')}</p>
        <h1 class="font-bold text-3xl">{t('projects.title')}</h1>
    </div>

    <div class="grid gap-4 max-w-5xl md:grid-cols-2">
        {projects.map(
            project => <Project title={project.title} description={project.description} img={project.img} skills={project.skills} demo={project.demo} />
        )}
    </div>
</section>
